
<!doctype html>
<html>
<head>
    <title>BC main page</title>
    <meta name="keywords" content="bot constructor service page">
    <link rel="icon" type="image/png" href="static/favicon.ico">
</head>
<body>
<script src="/static/js/bootstrap.js"></script>
</body>
</html>
